@using UdemyCarBook.Dtos.BannerDtos
@model List<ResultBannerDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var count = 0;
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Car Banners</h4>
                        <p class="card-subtitle mb-4">

                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Video Description</th>
                                        <th>Video Url</th>
                                        <th>Visit Youtube</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;

                                        <tr>
                                            <th>@count</th>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.VideoDescription</td>
                                            <td>@item.VideoUrl</td>
                                            <td><a href=""><span class="btn btn-info">Click</span></a></td>
                                            <td><a asp-area="Admin" asp-controller="Banner" asp-action="UpdateBanner" asp-route-id="@item.BannerId" class="btn btn-success">Update</a></td>
                                            <td><a href="/Admin/Banner/DeleteBanner/@item.BannerId" class="btn btn-danger">Delete</a></td>
                                        </tr>
                                    }

                                    <tr>

                                </tbody>
                            </table>
                            <a asp-area="Admin" asp-controller="Banner" asp-action="CreateBanner" class="btn btn-primary">Create Banner</a>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->

        </div>

    </div>
</div>

